.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading > div{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border-bottom: 0.4rem solid #333333;
    animation: spinner 600ms linear infinite;
}

@keyframes spinner{
    to{
        transform: rotateZ(360deg);
    }
}